{% extends 'base.html' %}

{% block content %}

    <div style="border-radius: 1rem; margin: 2rem; text-align: center">

        <h1 style="font-family: 'Kirang Haerang', cursive;">
            Cool Welsh Corgi
        </h1>

        <form action="/account/hello_world/" method="post">
            {% csrf_token %}
<!--            장고에서 제공하는 보안 기능 중 하나인 csrf 토큰-->

            <div>
                <input type="text" name="doggo_input">
            </div>

            <div>
                <input type="submit" class="btn btn-primary" value="yes!">
            </div>
        </form>

        {% for Corgi_list %}
            {% for Corgi in Corgi_list %}
        <h4>
            {{ Corgi_list.text }}
        </h4>
        {% endfor %}

    </div>

{% endblock %}